{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/admin/index.css') }}">{% endblock %}

{% block body %}
    {% include 'includes/headerAdmin.html.twig' %}

<div class="row rowAdmin center">
    <div class="left">
        <ul class="collection">
            <li class="collection-item">Invitati : {{ counts['allGuests'] }}</li>
            <li class="collection-item">Prezenti : {{ counts['presenceGuests'] }}</li>
            <li class="collection-item">Asezati : {{ counts['placedGuests'] }}</li>
        </ul>
    </div>

    <a class="waves-effect btn-small" onclick="reloadGuests(false)">
        <i class="material-icons left">autorenew</i>
        Actualizeaza lista !
        <i class="material-icons right">autorenew</i>
    </a>

    <a class="waves-effect red darken-3 btn-small" onclick="reloadGuests(true)">
        <i class="material-icons left">delete</i>
        Sterge si actualizeaza lista !
        <i class="material-icons right">autorenew</i>
    </a>
</div>

<div class="row">
   <div class="input-field col s6 m4 l4 xl4 offset-xl2 offset-l2 offset-m2">
       <select searchable='Lista de invitati' id="listPeoples" multiple>
            {% for guest in guests %}
                <option value="{{ guest.id }}">{{ guest.lastName }} {{ guest.firstName }}</option>
            {% endfor %}
       </select>
    </div>

   <div class="input-field col s6 m4 l4 xl4">
       <select searchable='Lista de mese' id="listTable">
           <option value="" disabled selected>Alege Masa</option>
            {% for table in tables %}
                <option value="{{ table.id }}">Masa n° : {{ table.number }} (cu {{ table.guests|length }} persoane)</option>
            {% endfor %}
       </select>
    </div>

</div>

<div class="row rowAdmin center">
    <button class="btn waves-effect waves-light center-align" type="submit" name="action">Salveaza
        <i class="material-icons right">send</i>
    </button>
</div>

<div class="row">
    <div class="col s12 l12 xl12">
        <ul class="tabs">
        {% for key, tableWithGuests in tablesWithGuests %}
            <li class="tab">
                <a href="#m{{key}}"> Masa {{ key }}
                    <span class="iconsMese cursorPointer">
                        <i class="material-icons" onclick="removeAllGuestsFromTable({{ key }})">delete</i>
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
    </div>
    {% for key, tableWithGuests in tablesWithGuests %}

            <ul id="m{{ key }}" class="collection">
            {% for tableWithGuest in tableWithGuests %}
                <li href="#!" class="collection-item">
                    {{ tableWithGuest.firstName }}
                    {{ tableWithGuest.lastName }}
                    <span class="right cursorPointer">
                        <i class="material-icons" onclick="removeGuestFromTable({{ tableWithGuest.idGuest }}, {{ tableWithGuest.idTable }})">delete</i>
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/admin.js') }}"></script>
{% endblock %}
